.page {
  overflow: hidden auto;
  height: 100dvh;
}
@media (display-mode: standalone) {
  .page {
    height: 100vh;
  }
}
.content {
  display: flex;
  flex-direction: column-reverse;
}
.description {
  padding-left: 8px;
  padding-right: 8px;
}
.modal {
  position: fixed;
  inset: 0;
  background: Canvas;
}
.hidden {
  display: none;
}
.video {
  width: 100%;
  height: auto;
}
