.header {
  display: flex;
  height: 36px;
  align-items: center;
}
.header > * {
  flex: 1 0 1px;
}
.heading {
  margin: 0;
  font-size: 1rem;
  text-align: center;
  font-weight: normal;
}

.drawerContent {
  view-transition-name: drawer;
}
.content {
  view-transition-name: content;
}

.viewPagerContent {
  view-transition-name: tab;
}
.tabRight {
  view-transition-name: tab-right;
}
@keyframes slide-out-left {
  to {
    transform: translateX(-100%);
  }
}
@keyframes slide-out-right {
  to {
    transform: translateX(100%);
  }
}
@keyframes slide-in-left {
  from {
    transform: translateX(100%);
  }
}
@keyframes slide-in-right {
  from {
    transform: translateX(-100%);
  }
}
@media only screen and (prefers-reduced-motion: no-preference) and (update: fast) {
  ::view-transition-old(tab) {
    animation: var(--animate-duration) ease-in slide-out-left;
  }
  ::view-transition-new(tab) {
    animation: var(--animate-duration) ease-in slide-in-left;
  }
}
@media only screen and (prefers-reduced-motion: no-preference) and (update: fast) {
  ::view-transition-old(tab-right) {
    animation: var(--animate-duration) ease-in slide-out-right;
  }
  ::view-transition-new(tab-right) {
    animation: var(--animate-duration) ease-in slide-in-right;
  }
}
