.lockScreen {
  background-image: url("../../assets/iphone-background.jpg");
  background-size: cover;
  background-position: center;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  position: relative;
  --distance-from-bottom: calc(120px + env(safe-area-inset-bottom));
}
@media (display-mode: standalone) {
  .lockScreen {
    height: 100lvh;
  }
}
.statusBar {
  height: env(safe-area-inset-top);
}

.scrollableContent {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  padding-bottom: var(--distance-from-bottom);
}
.infoContent {
  text-align: center;
  margin-bottom: 16px;
  position: sticky;
  top: 0;
}
.infoSpacer {
  height: 250px;
}
.itemPadding {
  padding: 4px;
}
.lock {
  height: 1.5rem;
}
.widgetTop {
}
.time {
  --font-size: clamp(5rem, 18vw, 10rem);
  font-size: var(--font-size);
  line-height: var(--font-size);
  font-weight: 300;
}
.widgetsContainer {
  padding-left: 32px;
  padding-right: 32px;
  max-width: 450px;
  margin: auto;
}
.widgets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}
.widget {
  aspect-ratio: 1/ 1;
  display: flex;
}
.widgetSpan2 {
  grid-column-end: span 2;
  display: flex;
}
.widgetPlaceholder {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 16px;
}

.bottomControls {
  display: flex;
  justify-content: space-between;
  padding: 32px;
}
.leftControl {
  left: 32px;
}
.rightControl {
  right: 32px;
}
.control {
  position: absolute;
  bottom: 32px;
  margin-bottom: env(safe-area-inset-bottom);
  z-index: 99999;

  padding: 16px;
  border-radius: 50%;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.35);
  width: 52px;
  height: 52px;
  text-align: center;
}

.homeArea {
  height: env(safe-area-inset-bottom);
}

.notification {
  border-radius: 16px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.33);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 12px 16px;
  position: relative;
}
.notification.fixed {
  pointer-events: none;
  bottom: var(--distance-from-bottom);
}
.iconContainer {
  margin-right: 16px;
  aspect-ratio: 1 / 1;
  display: flex;
  place-items: center;
}
.icon {
}
.notifItemPadding {
  padding: 4px 8px;
  max-width: 450px;
  margin: auto;
  /* mask: linear-gradient(to right, #000 0, 100%, #0000 0); */
  position: relative;
}
.flexGrow {
  flex-grow: 1;
}
.notifTop {
  display: flex;
}
.notifContent {
  flex-grow: 1;
}
.fadedText {
  color: rgba(0, 0, 0, 0.5);
}
.smallerFont {
  font-size: 0.88rem;
}
.message {
  font-size: 0.9rem;
  font-weight: 300;
}

.cutBox {
  position: absolute;
  top: 4px;
  right: 8px;
  bottom: 4px;
  contain: paint;
  border-radius: calc(16px / var(--scaleX)) / 16px;
  /* 0.1 is 0, 0.3 is 1 */
  opacity: clamp(0, (var(--scaleX) - 0.1) / 0.2, 1);
  pointer-events: none;
  backface-visibility: hidden;
  display: flex;
  flex-direction: row-reverse;
}
.cutBox.fixed {
  display: "none";
}
.cutBox.viewControls {
  /* opacity: 1; */
  pointer-events: all;
  /* width: auto; */
  /* transform: scaleX(1); */
}
.cutBox.dragWidth {
  width: 0;
}
.cutBox.dragScale {
  --scaleX: 0.05;
  transform-origin: top right;
  /* transform: scaleX(0.05); */
  /* opacity: 1; */
  transform: scaleX(var(--scaleX));
}
.cutBox.dragScale.viewControls {
  /* transform: scaleX(1); */
  --scaleX: 1;
}
.cutBox.dragSlide {
  transform: translateX(100%);
}
.cutBox.dragSlide.viewControls {
  transform: translateX(0);
}
.notifOptions {
  position: relative;
  right: 0px;
  top: 0;
  bottom: 0;
  display: flex;
  gap: 8px;
  height: 100%;
}
.notifOptions.visible {
}
.cutBox.dragScale .notifOptions {
  transform-origin: top right;
  transform: scaleX(calc(1 / var(--scaleX)));
}
.cutBox.dragScale .notifOptions.visible {
  /* transform: scaleX(1); */
}
.cutBox.dragSlide .notifOptions {
  transform: translateX(-100%);
}
.cutBox.dragSlide .notifOptions.visible {
  transform: translateX(0);
}
.notifControl {
  background-color: rgba(255, 255, 255, 0.33);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 12px 16px;
  border-radius: calc(16px / max(1, var(--scaleX))) / 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: top right;
  transform: translateX(var(--translateX)) scaleX(max(1, var(--scaleX)));
}
.scaleWidth {
}
.scaleRev {
  transform: scaleX(calc(1 / max(1, var(--scaleX))));
}

@property --scaleX {
  syntax: "<number>";
  initial-value: 1;
  inherits: false;
}
@property --translateX {
  syntax: "<length>";
  initial-value: 0;
  inherits: false;
}

@keyframes scaleNormal {
  100% {
    --scaleX: 1;
    --translateX: 0;
  }
}
@keyframes scaleHidden {
  100% {
    --scaleX: 0.05;
    --translateX: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .control {
    background-color: rgba(0, 0, 0, 0.35);
  }
  .notification {
    background-color: rgba(0, 0, 0, 0.33);
  }
  .fadedText {
    color: rgba(255, 255, 255, 0.5);
  }
}
