.lockScreen {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  position: relative;
  --distance-from-bottom: calc(120px + env(safe-area-inset-bottom));
}
.backgroundImage {
  background-image: url("../../assets/iphone-background.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  inset: -50px;
  z-index: -1;
}
@media (display-mode: standalone) {
  .lockScreen {
    height: 100lvh;
  }
}
.statusBar {
  height: env(safe-area-inset-top);
}

.scrollableContent {
  flex-grow: 1;
  overflow: hidden auto;
  overscroll-behavior-y: none;
  padding-bottom: var(--distance-from-bottom);
}
.infoContent {
  text-align: center;
  margin-bottom: 16px;
  position: sticky;
  top: 0;
}
.infoSpacer {
  height: 250px;
}
.itemPadding {
  padding: 4px;
}
.lock {
  height: 1.5rem;
}
.widgetTop {
}
.time {
  --font-size: clamp(5rem, 18vw, 10rem);
  font-size: var(--font-size);
  line-height: var(--font-size);
  font-weight: 300;
}
.widgetsContainer {
  padding-left: 32px;
  padding-right: 32px;
  max-width: 450px;
  margin: auto;
}
.widgets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}
.widget {
  aspect-ratio: 1/ 1;
  display: flex;
}
.widgetSpan2 {
  grid-column-end: span 2;
  display: flex;
}
.widgetPlaceholder {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 16px;
}

.bottomControls {
  display: flex;
  justify-content: space-between;
  padding: 32px;
}
.leftControl {
  left: 32px;
}
.rightControl {
  right: 32px;
}
.control {
  position: absolute;
  bottom: 32px;
  margin-bottom: env(safe-area-inset-bottom);
  z-index: 99999;

  padding: 16px;
  border-radius: 50%;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.35);
  width: 52px;
  height: 52px;
  text-align: center;
}

.homeArea {
  height: env(safe-area-inset-bottom);
}

@media (prefers-color-scheme: dark) {
  .control {
    background-color: rgba(0, 0, 0, 0.35);
  }
}

.drawerContainer {
  overflow: hidden auto;
  scrollbar-width: none;
}
.drawerContainer::-webkit-scrollbar {
  display: none;
}
.drawerContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.drawerContent:before,
.drawerContent:after {
  content: "";
}
.drawerWidget {
  aspect-ratio: 2 / 1;
  background-color: #5bf;
  border-radius: 16px;
  margin-inline-start: 16px;
  margin-inline-end: 16px;
  /* width: calc(100dvw - 32px); */
}
