.viewPager {
  display: flex;
  flex-direction: column;
  min-height: 100lvh;
}
.header {
  border-bottom: 1px solid #eee;
  background-color: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
@media (prefers-color-scheme: dark) {
  .header {
    border-bottom: 1px solid #222;
    background-color: rgba(0, 0, 0, 0.65);
  }
}
.tabs {
  display: flex;
}
.tab {
  flex-grow: 1;
  flex-basis: 1px;
  justify-content: center;
  display: flex;
  cursor: pointer;
}
.tabNameContainer {
  padding-top: 16px;
  padding-bottom: 16px;
  padding: 16px 8px;
  position: relative;
}
.tabName {
  margin: 0;
  font-size: 1rem;
}
.indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  border-radius: 1.5px;
}
.selected {
  background-color: #5bf;
}
.content {
  contain: paint;
  flex-grow: 1;
}
.contentWrapper {
  min-height: 60vh;
}
.page {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(calc(var(--i) * 100%));
  height: 100dvh;
  overflow-y: auto;
  overscroll-behavior-y: contain;
}
.spacer {
  position: relative;
}
.pullDown {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
