.sidenavDrawer {
  display: flex;
}
.drawerContent {
  width: 280px;
}
.drawerContentWrapper {
  position: sticky;
  top: 0;
}
.mobileDrawer {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-280px);
}
.mobileDrawer.visible {
  transform: translateX(0px);
}
.sidenav {
  flex-shrink: 0;
}
.content {
  position: relative;
}
.content.visible {
  transform: translateX(280px);
}
.sidenavContent {
  flex-grow: 1;
}
.contentCover {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(8px);
}
