.sidenavDrawer {
  display: flex;
}
.drawerContent {
  width: 280px;
}
.drawerContentWrapper {
  position: sticky;
  top: 0;
}
.mobileDrawer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-280px);
  display: flex;
  flex-direction: column;
}
.sidenav {
  flex-shrink: 0;
}
.content {
  position: relative;
}
.content.visible {
  transform: translateX(280px);
}
.sidenavContent {
  flex-grow: 1;
}
.contentCover {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}
.contentCover.visible {
  opacity: 1;
  pointer-events: all;
}
.groupContainer {
  contain: paint;
}
.drawer.visible {
  transform: translateX(280px);
}
.sticky {
  position: sticky;
  top: 0;
}
.fill {
  flex-grow: 1;
}
