.lockScreen {
  background-image: url("../assets/iphone-background.jpg");
  background-size: cover;
  background-position: center;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (display-mode: standalone) {
  .lockScreen {
    height: 100lvh;
  }
}
.statusBar {
  height: env(safe-area-inset-top);
}

.scrollableContent {
  flex-grow: 1;
  overflow-y: auto;
  overscroll-behavior-y: none;
}
.infoContent {
  text-align: center;
  margin-bottom: 16px;
  position: sticky;
  top: 0;
}
.infoSpacer {
  height: 350px;
}
.itemPadding {
  padding: 4px;
}
.lock {
  height: 1.5rem;
}
.widgetTop {
}
.time {
  --font-size: clamp(5rem, 18vw, 10rem);
  font-size: var(--font-size);
  line-height: var(--font-size);
  font-weight: 300;
}
.widgetsContainer {
  padding-left: 32px;
  padding-right: 32px;
  max-width: 450px;
  margin: auto;
}
.widgets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}
.widget {
  aspect-ratio: 1/ 1;
  display: flex;
}
.widgetSpan2 {
  grid-column-end: span 2;
  display: flex;
}
.widgetPlaceholder {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 16px;
}

.bottomControls {
  display: flex;
  justify-content: space-between;
  padding: 32px;
}
.leftControl {
  left: 32px;
}
.rightControl {
  right: 32px;
}
.control {
  position: absolute;
  bottom: 32px;
  margin-bottom: env(safe-area-inset-bottom);
  z-index: 99999;

  padding: 16px;
  border-radius: 50%;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.35);
  width: 52px;
  height: 52px;
  text-align: center;
}

.homeArea {
  height: env(safe-area-inset-bottom);
}

.notification {
  border-radius: 16px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.33);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 12px 16px;
  position: relative;
}
.noPointer {
  pointer-events: none;
}
.iconContainer {
  margin-right: 16px;
  aspect-ratio: 1 / 1;
  display: flex;
  place-items: center;
}
.icon {
}
.notifItemPadding {
  padding: 4px 8px;
  max-width: 450px;
  margin: auto;
}
.flexGrow {
  flex-grow: 1;
}
.notifTop {
  display: flex;
}
.notifContent {
  flex-grow: 1;
}
.fadedText {
  color: rgba(0, 0, 0, 0.5);
}
.smallerFont {
  font-size: 0.88rem;
}
@media (prefers-color-scheme: dark) {
  .control {
    background-color: rgba(0, 0, 0, 0.35);
  }
  .notification {
    background-color: rgba(0, 0, 0, 0.33);
  }
  .fadedText {
    color: rgba(255, 255, 255, 0.5);
  }
}
