.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2px;
}
@media (max-width: 900px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  contain: paint;
  cursor: pointer;
  transform-origin: top left;
}
.horizontal {
  height: 100%;
  width: auto;
  max-width: initial;
}
.vertical {
  height: auto;
  width: 100%;
}
.hide {
  /* visibility: hidden; */
}

.modal {
  position: fixed;
  inset: 0;
  /* background-color: Canvas; */
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: center;
  contain: paint;
}
.modalMedia {
  align-self: center;
  transform-origin: top left;
  contain: paint;
  /* border: 1px solid red; */
}
.modalFooter {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}
