.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2px;
}
@media (max-width: 900px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  contain: paint;
}
.horizontal {
  height: 100%;
  width: auto;
  max-width: initial;
}
.vertical {
  height: auto;
  width: 100%;
}
