.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2px;
}
@media (max-width: 900px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  contain: paint;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  transform-origin: top left;
  will-change: transform;
}
.horizontal {
  height: 100%;
  width: auto;
  max-width: initial;
}
.vertical {
  height: auto;
  width: 100%;
}
.hide {
  animation: 0.3s hideVisibility forwards;
}
@keyframes hideVisibility {
  to {
    visibility: hidden;
  }
}
