:root {
  font-family: system-ui, sans-serif;
  color-scheme: light dark;
  --animate-duration: 0.3s;
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
}
body {
  margin: 0;
}

html {
  overscroll-behavior-y: none;
}

* {
  box-sizing: border-box;
}
button {
  /* https://gist.github.com/MoOx/9137295?permalink_comment_id=4525068#gistcomment-4525068 */
  all: unset;
  outline: revert;
  cursor: pointer;
  box-sizing: revert;
  /* disables the fade out on iOS */
  -webkit-tap-highlight-color: transparent;
}
